<form id="contactForm" onsubmit="submitForm(event)">
    <div class="form-group">
        <label for="contact_form_name">Sujet :</label>
        <input type="text" class="form-control" name="subject" id="contact_form_name" placeholder="Nom">
    </div>
    <div class="form-group">
        <label for="contact_form_message">Votre message :</label>
        <textarea name="body" class="form-control" id="contact_form_message" placeholder="Votre Message"></textarea>
    </div>
    <button type="submit" value="Send" class="btn btn-lg btn-dark">Envoyer</button>
</form>

<script>
function submitForm(event) {
    event.preventDefault();

    var subject = document.getElementById('contact_form_name').value;
    var body = document.getElementById('contact_form_message').value;

    subject = encodeURIComponent(subject);
    body = encodeURIComponent(body);

    var mailtoLink = 'mailto:camboulasthomas@gmail.com?subject=' + subject + '&body=' + body;

    window.location.href = mailtoLink;
}
</script>
