---
layout: default
---
---
layout: default
---
<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      {% if site.author_bio %}
        <div class="card">
          <h1 class="card-title">MTB 111 : <img src="{{site.url}}{{site.baseurl}}/assets/img/{{ exp.company_logo }}"></h1>
          <p>MTB111 est une entreprise d'informatique créer par Marie-Thérèse Bertini le 1er Avril 1981.</p>
          <p>MTB111 est spécialisé dans la recherche de solutions technologique de pointe qui optimisent les processus industriels et favorisent l'innovation.
            L'entreprise vise à transformer les défis complexes en opportunités en utilisant des technologies avancées et des stratégies adaptées à chaque client.</p>
          <p>La grande particularité de cette entreprise est la formation de BTS SIO en alternance qui est d'une grande efficacité.</p>
        </div>
      {% endif %}
    </div>
  </div>
</div>

